/exemploPOO/nbproject/private/
/exemploPOO/build/
/Metodos/nbproject/private/
/Metodos/build/
/ContaBanco/nbproject/private/
/ContaBanco/build/
/treinamento01/nbproject/private/
/treinamento01/build/
/BarbershopCurso/nbproject/private/
/BarbershopCurso/build/
